<div class="row">
  <div class="col-12">
    <h2 class="float-left">Varer i indkøbskurven</h2>
    <button class="btn btn-outline-danger float-right">Tøm kurven</button>
  </div>
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Pris</th>
          <th>Slet</th>
        </tr>
      </thead>
      <tr>
        <td><img height="50%" src="https://priceit.blob.core.windows.net/images/0_601021200.jpg" alt="Alternate Text" /></td>
        <td>
          Pakken indeholder; Laufen gulvstående toilet uden skyllekant,
          <br />
          toiletsæde m. softclose og quick-release, tilslutningsslange, stopventil
          <br />
          <br />
          <i>Pakke nr. 1311</i>
        </td>
        <td>18-3-2019 14:00<i class="fal fa-shipping-timed ml-2"></i></td>
        <td>Pris 4.294,00 kr.</td>
        <td class="text-center"><i class="fal fa-times"></i></td>
      </tr>
      <tr>
        <td><img height="50%" src="https://priceit.blob.core.windows.net/images/0_601021200.jpg" alt="Alternate Text" /></td>
        <td>
          Pakken indeholder; Laufen gulvstående toilet uden skyllekant,
          <br />
          toiletsæde m. softclose og quick-release, tilslutningsslange, stopventil
          <br />
          <br />
          <i>Pakke nr. 1311</i>
        </td>
        <td>
          <a data-toggle="modal" data-target=".bd-example-modal-lg">
          Vælg tidspunkt
          <i class="fal fa-shipping-timed ml-2"></i>
          </a>
        </td>
        <td>Pris 4.294,00 kr.</td>
        <td class="text-center"><i class="fal fa-times"></i></td>
      </tr>
      <tr>
        <td><img height="50%" src="https://priceit.blob.core.windows.net/images/0_601021200.jpg" alt="Alternate Text" /></td>
        <td>
          Pakken indeholder; Laufen gulvstående toilet uden skyllekant,
          <br />
          toiletsæde m. softclose og quick-release, tilslutningsslange, stopventil
          <br />
          <br />
          <i>Pakke nr. 1311</i>
        </td>
        <td>Vælg tidspunkt<i class="fal fa-shipping-timed ml-2"></i></td>
        <td>Pris 4.294,00 kr.</td>
        <td class="text-center"><i class="fal fa-times"></i></td>
      </tr>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total 12.882kr.</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-3">
    Dit navn <br />
    <input class="form-control" type="text" name="name" value="" />
  </div>
</div>
<div class="row">
  <div class="col-3">
    Din E-mail <br />
    <input class="form-control" type="text" name="name" value="" />
  </div>
</div>

<div class="row">
  <div class="col-3">
    Dit mobilnummer <br />
    <input class="form-control" type="text" name="name" value="" />
  </div>
</div>

<div class="row">
  <div class="col-3">
    Kampagne kode <br />
    <input class="form-control" type="text" name="name" value="" />
  </div>
</div>

<div class="row">
  <div class="col-3">
    <input type="checkbox" name="name" value="" /> Accepter vores  bestillingsbetingelser
  </div>
</div>

<div class="row">
  <div class="col-12">
    <button routerLink="" class="btn btn-outline-success float-right">Send bestilling</button>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="row">
        <div class="col-12">
          <app-choosetimeslot></app-choosetimeslot>
          </div>
      </div>
    </div>
  </div>
</div>
