<div class="booking__step__1 row pt-3">
  <div class="booking__types">
    <div class="col-3" *ngFor="let x of bookingType">
      <div class="booking__type">
        <a routerLink="{{x.type}}">
          <figure class="booking__type__figure figure">
            <img src="{{ x.image }}" class="booking__type__image figure-img img-fluid" alt="...">
            <figcaption class="booking__type__title figure-caption text-center">{{ x.title }}</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>
