<div class="row text-center">
  <div class="col-12">
  <div class="row">
    <div class="col-1">
      <i class="fal fa-arrow-left"></i>
    </div>

    <div class="col-10"></div>

    <div class="col-1">
      <i class="fal fa-arrow-right"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      13-10-2019
      <br />
      Mandag
      <br />
      <button class="btn btn-success">7:00</button>
      <br />
      <button class="btn btn-success">8:00</button>
      <br />
      <button class="btn btn-success">9:00</button>
      <br />
      <button class="btn btn-success">10:00</button>
      <br />
      <button class="btn btn-success">11:00</button>
      <br />
      <button class="btn btn-success">12:00</button>
      <br />
      <button class="btn btn-success">13:00</button>
      <br />
      <button class="btn btn-success">7:00</button>
      <br />
      <button class="btn btn-success">8:00</button>
      <br />
      <button class="btn btn-success">9:00</button>
      <br />
      <button class="btn btn-success">10:00</button>
      <br />
      <button class="btn btn-success">11:00</button>
      <br />
      <button class="btn btn-success">12:00</button>
      <br />
      <button class="btn btn-success">13:00</button>
      <br />
      <button class="btn btn-success">7:00</button>
      <br />
      <button class="btn btn-success">8:00</button>
      <br />
      <button class="btn btn-success">9:00</button>
      <br />
      <button class="btn btn-success">10:00</button>
      <br />
      <button class="btn btn-success">11:00</button>
      <br />
      <button class="btn btn-success">12:00</button>
      <br />
      <button class="btn btn-success">13:00</button>
    </div>
    <div class="col-2">
      14-10-2019
      <br />
      Tirsdag
      <br />
      <button class="btn btn-success">7:00</button>
      <br />
      <button class="btn btn-success">8:00</button>
      <br />
      <button class="btn btn-success">9:00</button>
      <br />
      <button class="btn btn-success">10:00</button>
      <br />
      <button class="btn btn-success">11:00</button>
      <br />
      <button class="btn btn-success">12:00</button>
      <br />
      <button class="btn btn-success">13:00</button>
    </div>
    <div class="col-2">
      15-10-2019
      <br />
      Onsdag
      <br />
      <button class="btn btn-success">7:00</button>
      <br />
      <button class="btn btn-success">8:00</button>
      <br />
      <button class="btn btn-success">9:00</button>
      <br />
      <button class="btn btn-success">10:00</button>
      <br />
      <button class="btn btn-success">11:00</button>
      <br />
      <button class="btn btn-success">12:00</button>
      <br />
      <button class="btn btn-success">13:00</button>
    </div>
    <div class="col-2">
      16-10-2019
      <br />
      Torsdag
      <br />
      <button class="btn btn-success">7:00</button>
      <br />
      <button class="btn btn-success">8:00</button>
      <br />
      <button class="btn btn-success">9:00</button>
      <br />
      <button class="btn btn-success">10:00</button>
      <br />
      <button class="btn btn-success">11:00</button>
      <br />
      <button class="btn btn-success">12:00</button>
      <br />
      <button class="btn btn-success">13:00</button>
    </div>
    <div class="col-2">
      17-10-2019
      <br />
      Fredag
      <br />
      <button class="btn btn-success">7:00</button>
      <br />
      <button class="btn btn-success">8:00</button>
      <br />
      <button class="btn btn-success">9:00</button>
      <br />
      <button class="btn btn-success">10:00</button>
      <br />
      <button class="btn btn-success">11:00</button>
      <br />
      <button class="btn btn-success">12:00</button>
      <br />
      <button class="btn btn-success">13:00</button>
    </div>
  
    <div class="col-1"></div>
  </div>
  
</div>
  </div>
