<div class="row menu__header pt-3">
  <div class="booking__navbar col pr-4">
    <a routerLink="..">
      <span class="menu__button menu__button__home float-left">
        <i class="fal fa-home float-left fa-fw mr-1"></i>
      </span>
    </a>
    <a routerLink="..">
      <span class="menu__button menu__button__back float-left pl-2">
        <i class="fal fa-chevron-left float-left fa-fw mr-1"></i>
      </span>
    </a>
    <a routerLink="OrderOverview">
      <span class="shopping__counter fa-stack has-badge float-right" data-count="3">
        <i class="menu__button menu__button__cart fal fa-shopping-cart fa-fw fa-stack-1x mt-1"></i>
      </span>
    </a>
  </div>  
</div>
<hr class="booking__hr">

