<div class="categories__step__2 row">
  <div class="categories__items">
    <div class="col-3">
      <div class="categories__item">
        <a data-toggle="modal" data-target="#exampleModal">
          <figure class="categories__item__figure figure">
            <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="categories__item__image figure-img img-fluid">
            <div class="categories__item__price">2550 kr.</div>
            <figcaption class="categories__item__title figure-caption text-center">CategoryTitle</figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="categories__item">
        <a data-toggle="modal" data-target="#exampleModal">
          <figure class="categories__item__figure figure">
            <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="categories__item__image figure-img img-fluid">
            <div class="categories__item__price">2550 kr.</div>
            <figcaption class="categories__item__title figure-caption text-center">CategoryTitle</figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="categories__item">
        <a data-toggle="modal" data-target="#exampleModal">
          <figure class="categories__item__figure figure">
            <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="categories__item__image figure-img img-fluid">
            <div class="categories__item__price">2550 kr.</div>
            <figcaption class="categories__item__title figure-caption text-center">CategoryTitle</figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="categories__item">
        <a data-toggle="modal" data-target="#exampleModal">
          <figure class="categories__item__figure figure">
            <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="categories__item__image figure-img img-fluid">
            <div class="categories__item__price">2550 kr.</div>
            <figcaption class="categories__item__title figure-caption text-center">CategoryTitle</figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="categories__item">
        <a data-toggle="modal" data-target="#exampleModal">
          <figure class="categories__item__figure figure">
            <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="categories__item__image figure-img img-fluid">
            <div class="categories__item__price">2550 kr.</div>
            <figcaption class="categories__item__title figure-caption text-center">CategoryTitle</figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="categories__item">
        <a data-toggle="modal" data-target="#exampleModal">
          <figure class="categories__item__figure figure">
            <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="categories__item__image figure-img img-fluid">
            <div class="categories__item__price">2550 kr.</div>
            <figcaption class="categories__item__title figure-caption text-center">CategoryTitle</figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="categories__item">
        <a data-toggle="modal" data-target="#exampleModal">
          <figure class="categories__item__figure figure">
            <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="categories__item__image figure-img img-fluid">
            <div class="categories__item__price">2550 kr.</div>
            <figcaption class="categories__item__title figure-caption text-center">CategoryTitle</figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="categories__item">
        <a data-toggle="modal" data-target="#exampleModal">
          <figure class="categories__item__figure figure">
            <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="categories__item__image figure-img img-fluid">
            <div class="categories__item__price">2550 kr.</div>
            <figcaption class="categories__item__title figure-caption text-center">CategoryTitle</figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="categories__item">
        <a data-toggle="modal" data-target="#exampleModal">
          <figure class="categories__item__figure figure">
            <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="categories__item__image figure-img img-fluid">
            <div class="categories__item__price">2550 kr.</div>
            <figcaption class="categories__item__title figure-caption text-center">CategoryTitle</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <app-ordercompletewithunit></app-ordercompletewithunit>
    </div>
  </div>
</div>

