<div class="row">
<div class="col-3">
    <figure class="figure">
      <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption float-right">CategoryTitle</figcaption>
    </figure>
</div>
<div class="col-3">
  <figure class="figure">
    <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption float-right">CategoryTitle</figcaption>
  </figure>
</div>
<div class="col-3">
  <figure class="figure">
    <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption float-right">CategoryTitle</figcaption>
  </figure>
</div>
<div class="col-3">
  <figure class="figure">
    <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption float-right">CategoryTitle</figcaption>
  </figure>
</div>
<div class="col-3">
  <figure class="figure">
    <img src="https://jublo1.blob.core.windows.net/customerfiles/booking-category-service.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption float-right">CategoryTitle</figcaption>
  </figure>
</div>
</div>
