/* Body */
.booking__body {

}

/* Menu */
.menu__header {

}

.booking__navbar {

}

.menu__button {
  font-size: 2em;
  color: grey;
}

.fa-stack {
  height: 1rem;
}

.fa-stack[data-count]:after {
  position: absolute;
  right: -25%;
  top: -55%;
  content: attr(data-count);
  font-size: 0.6rem;
  padding: .2rem;
  border-radius: 100%;
  line-height: 1em;
  color: white;
  background: red;
  text-align: center;
  min-width: 1rem;
  min-height: 1rem;
  font-weight: bold;
}


.booking__hr {
  border-top: 1px solid grey;
}

/* Startpage */
.booking__step__1 {

}

.booking__types {
  display: contents;
}

.booking__type {
  border: 1px solid grey;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  background-color: white;
}

.booking__type__figure {
  
}

.booking__type__image {

}

.booking__type__title {
  
}

.booking__image__overlay {

}


/* DirectCategory */
.categories__step__2 {

}

.categories__items {
  cursor: pointer;
  display: contents;
}

.categories__item {
  border: 1px solid grey;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  background-color: white;
}

.categories__item__price {
  background-color: white;
  color: green;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 16px;
  padding: .2rem;
}

.categories__item__title {
  font-weight: bold;
}
