<div class="row">
  <div class="col-12">
    <h3>Beskriv hvad der skal laves og tilføj evt. billeder</h3>
    <br />
    <textarea class="form-control"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <select class="form-control">
      <option value="value">text</option>
    </select>
  </div>
  <div class="col-6">
    <select class="form-control">
      <option value="value">text</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <select class="form-control">
      <option value="value">text</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <input class="form-control" type="file" name="name" value="" />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button routerLink=".." class="btn btn-outline-secondary">Tilbage</button>
    <button data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-success float-right">Læg i kurv</button>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-ordercomplete></app-ordercomplete>
      </div>
    </div>
  </div>
</div>

