<div class="item__header modal-header">
  <h5 class="item__title modal-title" id="exampleModalLabel">Pakke #1234</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="item__body modal-body">
  <div class="row mb-3">
    <div class="item__description col-12">
      <b>Pakken indeholder; Laufen gulvstående toilet uden skyllekant, toiletsæde m. softclose og quick-release, tilslutningsslange, stopventil</b>
    </div>
  </div>
  <div class="row">
    <div class="item__image col-6">
      <img class="img-fluid mx-auto d-block" src="https://priceit.blob.core.windows.net/images/0_601021200.jpg" alt="Alternate Text" />
    </div>
    <div class="col-6">
      <b class="item__price">Pris 4.294,00 kr.</b>
      <br/>
      <div class="item__items">
        Pakken inkluderer:
        <ul class="pl-3">
          <li>IFØ SIGN WC CLEAN INDB. S-LÅS</li>
          <li>LAUFEN PRO N SÆDE SOFTC. HVID</li>
          <li>TILSL.SL. PVC HVID 1/2X1/2 400</li>
          <li>ARCOFIX VINKEL U. OMLØBER 1/2"</li>
          <li>Arbejdstid/installation (1 time)</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="item__additional__info col-12">
      <i>Andre dele og yderligere opgaver der måtte opstå, kan resultere i en højere pris. Den nye pris aftales med montøren inden han begynder på opgaven.</i>
    </div>
  </div>
  <div class="row">
    <div class="item__buttons col-12 text-center mt-3">
      <button class="item_button_ btn btn-outline-secondary mr-3" data-dismiss="modal">Tilføj og Shop videre</button>
      <button class="btn btn-outline-success" data-dismiss="modal" routerLink="../OrderOverview">Køb nu</button>
    </div>
  </div>
</div>
